<h1> Groupe 2 - Statistics  

> Preprocessing Notebook

<span class="tocSkip"></span>

> *Authors :   
LEROYER Corentin  
MARTINEAU Enzo  
MIROUSE Sylvaine  
MORA FERNANDEZ Jordi  
OLLIVIER Cassandre   
PACE Marine*

</h1>

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Introduction" data-toc-modified-id="Introduction-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introduction</a></span><ul class="toc-item"><li><span><a href="#Highlight" data-toc-modified-id="Highlight-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Highlight</a></span></li></ul></li><li><span><a href="#Environment" data-toc-modified-id="Environment-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Environment</a></span><ul class="toc-item"><li><span><a href="#Libraries" data-toc-modified-id="Libraries-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Libraries</a></span></li></ul></li><li><span><a href="#Modification-of-all_data_annotate-and-others_data_annotate" data-toc-modified-id="Modification-of-all_data_annotate-and-others_data_annotate-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Modification of all_data_annotate and others_data_annotate</a></span><ul class="toc-item"><li><span><a href="#Creation-of-new-labels" data-toc-modified-id="Creation-of-new-labels-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Creation of new labels</a></span><ul class="toc-item"><li><span><a href="#Creation-of-ANNOTATE_V2" data-toc-modified-id="Creation-of-ANNOTATE_V2-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>Creation of ANNOTATE_V2</a></span></li><li><span><a href="#Creation-of-OTHERS_ANNOTATE_v2" data-toc-modified-id="Creation-of-OTHERS_ANNOTATE_v2-3.1.2"><span class="toc-item-num">3.1.2&nbsp;&nbsp;</span>Creation of OTHERS_ANNOTATE_v2</a></span></li></ul></li><li><span><a href="#Add-constructors" data-toc-modified-id="Add-constructors-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Add constructors</a></span></li><li><span><a href="#Création-of-4-new-variables-for-notes" data-toc-modified-id="Création-of-4-new-variables-for-notes-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Création of 4 new variables for notes</a></span><ul class="toc-item"><li><span><a href="#Creation-of-ANNOTATE_V3" data-toc-modified-id="Creation-of-ANNOTATE_V3-3.3.1"><span class="toc-item-num">3.3.1&nbsp;&nbsp;</span>Creation of ANNOTATE_V3</a></span></li></ul></li></ul></li><li><span><a href="#Modification-of-all_data" data-toc-modified-id="Modification-of-all_data-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Modification of all_data</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Creation-of-ALL_DATA_V2" data-toc-modified-id="Creation-of-ALL_DATA_V2-4.0.1"><span class="toc-item-num">4.0.1&nbsp;&nbsp;</span>Creation of ALL_DATA_V2</a></span></li><li><span><a href="#Creation-of-ALL_DATA_V3" data-toc-modified-id="Creation-of-ALL_DATA_V3-4.0.2"><span class="toc-item-num">4.0.2&nbsp;&nbsp;</span>Creation of ALL_DATA_V3</a></span></li></ul></li></ul></li><li><span><a href="#Modification-of-seatguru" data-toc-modified-id="Modification-of-seatguru-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Modification of seatguru</a></span></li><li><span><a href="#Modification-of-Kayak" data-toc-modified-id="Modification-of-Kayak-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Modification of Kayak</a></span></li><li><span><a href="#Creation-of-all_data_month" data-toc-modified-id="Creation-of-all_data_month-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Creation of all_data_month</a></span></li></ul></div>

# Introduction

Before starting our work, we decided to observe the data we have.   
We noticed a significant amount of missing data, which is essential information to take into account when compiling statistics.   
We also observed that variable *Overall_Customer_Rating* was of the wrong type.
In addition, we noticed that the variable *Aircraft_Type* includes nearly 4000 different values in the ALL_DATA file. 

Following all his observations, we have made the following adjustments:  

**First modifications :**

For ALL_DATA_ANNOTATE and OTHERS_DATA_ANNOTATE, we decided to modify the labels in order to be able to make the most of them :    

<p>
  <li>-1 : Negative user opinion</li>   
  <li>0 : No comment on this topic </li> 
  <li>1 : Positive user opinion </li> 
  <li>2 : Very positive user opinion  </li> 
</p>

So, we created **ANNOTATE_V2** and **OTHERS_ANNOTATE_V2**.

Later, we decided to perform statistical analysis on labels, so we created **ANNOTATE_V2_BIS** which contains an additional *Constructors* variable.

ALL_DATA has been cleaned : *Overall_Customer_Rating* feature was not a float.  
We created a new feature : *Constructors* to sum up the Aircraft_Type. 7 differents constructors are represent.  
So, we created **ALL_DATA_v2**.

We also added *Constructors* on SEATGURU but with only 3 variable : Airbus, Boing and we group all others in 'Others'.
So, We created **SEATGURU_V2**.

We change all the type on KAYAK_AIRLINE_RATE_GLOBAL to work with float variables.

We created a new file : **ALL_DATA_MONTH** where we changed the types of dates to make temporal analysies.  
    

**Second modifications :**

In a second time, we created **ALL_DATA_V3**, **ANNOTATE_V3** and **OTHERS_ANNOTATE_V3** with 4 new variables :   
      
<p>    
 <li> 'Food_Beverages' which groups the variables 'Bar_And_Beverages', 'Food_And_Beverages' and 'Catering'</li>  
 <li> 'Entertainments_And_Amenities' which groups the variables 'Wifi_And_Connectivity', 'Inflight_Entertainment', 'Viewing_Tv_Screen', 'Power_Supply' and 'Washrooms'</li>   
    
 <li> 'Seat_Comfort_And_Recline' which groups the variables 'Seat_Comfort' and 'Seat_Recline'</li>   
    
 <li> 'Staff_Service' which groups the variables 'Cabin_Staff_Service', 'Lounge_Staff_Service' and 'Ground_Service'</li>   
    
</p>

## Highlight

The preprocessing we have done has been useful for all of us. However, we can point out that the creation of the constructors on the different data sources was particularly useful for many of our analyses.

The creation of the new notes that we made only in the middle of the project was finally useful to complete our statistics and make more relevant correlations.

# Environment

## Libraries

In [2]:
import pandas as pd
import datetime
import numpy as np
import pandas as pd
import math

In [3]:
# workpath
workpath = "/home/ddm2018-1/Documents/sauvegarde_ordi-fac_12_19/M2/Projet_Inter_Promo/Interpromo2020/Interpromo2020/AllData/"

# Modification of all_data_annotate and others_data_annotate

## Creation of new labels

### Creation of ANNOTATE_V2

In [22]:
annotate = pd.read_excel(workpath+'ALL_DATA_ANNOTATE.xlsx')

In [23]:
data = annotate.copy()

In [24]:
data.head()

,Data_Source,Airline_Name,Aircraft_Type,Cabin_Class,Type_Of_Lounge,Type_Of_Traveller,Date_Visit,Date_Flown,Airport,Route,...,LABEL_LAVATORY SPACE,LABEL_PRICE,LABEL_LOST BAGGAGE,LABEL_CHECK IN,LABEL_PUNCTUALITY,LABEL_ATTRACTIVE AIRCRAFT,LABEL_SAV,LABEL_BOARDING,LABEL_GENERAL,Unnamed: 54
0,Airline Quality Airline,adria-airways,A319,Economy Class,NaN,Family Leisure,NaN,August 2015,NaN,Manchester to Ljubljana,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2.0,NaN
1,Airline Quality Airline,adria-airways,A319,Economy Class,NaN,Family Leisure,NaN,August 2015,NaN,Manchester to Ljubljana,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Airline Quality Airline,adria-airways,A319,Economy Class,NaN,Family Leisure,NaN,August 2015,NaN,Manchester to Ljubljana,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Airline Quality Airline,adria-airways,A319,Economy Class,NaN,Family Leisure,NaN,August 2015,NaN,Manchester to Ljubljana,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN
4,Airline Quality Airline,adria-airways,A319,Economy Class,NaN,Family Leisure,NaN,August 2015,NaN,Manchester to Ljubljana,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN

Creation of new labels

In [25]:
data['LABEL_SEAT'][data['LABEL_SEAT'] == 0] = -1
data['LABEL_BED'][data['LABEL_BED'] == 0] = -1
data['LABEL_IFE'][data['LABEL_IFE'] == 0] = -1
data['LABEL_FOOD'][data['LABEL_FOOD'] == 0] = -1
data['LABEL_NOISE'][data['LABEL_NOISE'] == 0] = -1
data['LABEL_TEMPERATURE'][data['LABEL_LAVATORY SPACE'] == 0] = -1
data['LABEL_HUMIDITY'][data['LABEL_HUMIDITY'] == 0] = -1
data['LABEL_CABIN CREW'][data['LABEL_CABIN CREW'] == 0] = -1
data['LABEL_LAVATORY SPACE'][data['LABEL_LAVATORY SPACE'] == 0] = -1
data['LABEL_PRICE'][data['LABEL_PRICE'] == 0] = -1
data['LABEL_LOST BAGGAGE'][data['LABEL_LOST BAGGAGE'] == 0] = -1
data['LABEL_CHECK IN'][data['LABEL_CHECK IN'] == 0] = -1
data['LABEL_PUNCTUALITY'][data['LABEL_PUNCTUALITY'] == 0] = -1
data['LABEL_ATTRACTIVE AIRCRAFT'][data['LABEL_ATTRACTIVE AIRCRAFT'] == 0] = -1
data['LABEL_SAV'][data['LABEL_SAV'] == 0] = -1
data['LABEL_BOARDING'][data['LABEL_BOARDING'] == 0] = -1
data['LABEL_GENERAL'][data['LABEL_GENERAL'] == 0] = -1

/home/ddm2018-1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/ddm2018-1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/ddm2018-1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/ddm2018-1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/home/ddm2018-1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/home/ddm2018-1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/ddm2018-1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/home/ddm2018-1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/ddm2018-1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/home/ddm2018-1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/home/ddm2018-1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/home/ddm2018-1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/home/ddm2018-1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/home/ddm2018-1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/ddm2018-1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/home/ddm2018-1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/home/ddm2018-1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [26]:
data['LABEL_SEAT'] = data['LABEL_SEAT'].fillna(0)
data['LABEL_BED'] = data['LABEL_BED'].fillna(0)
data['LABEL_IFE'] = data['LABEL_IFE'].fillna(0)
data['LABEL_FOOD'] = data['LABEL_FOOD'].fillna(0)
data['LABEL_NOISE'] = data['LABEL_NOISE'].fillna(0)
data['LABEL_TEMPERATURE'] = data['LABEL_TEMPERATURE'].fillna(0)
data['LABEL_HUMIDITY'] = data['LABEL_HUMIDITY'].fillna(0)
data['LABEL_CABIN CREW'] = data['LABEL_CABIN CREW'].fillna(0)
data['LABEL_LAVATORY SPACE'] = data['LABEL_LAVATORY SPACE'].fillna(0)
data['LABEL_PRICE'] = data['LABEL_PRICE'].fillna(0)
data['LABEL_LOST BAGGAGE'] = data['LABEL_LOST BAGGAGE'].fillna(0)
data['LABEL_CHECK IN'] = data['LABEL_LAVATORY SPACE'].fillna(0)
data['LABEL_PUNCTUALITY'] = data['LABEL_PUNCTUALITY'].fillna(0)
data['LABEL_ATTRACTIVE AIRCRAFT'] = data['LABEL_LAVATORY SPACE'].fillna(0)
data['LABEL_SAV'] = data['LABEL_SAV'].fillna(0)
data['LABEL_BOARDING'] = data['LABEL_BOARDING'].fillna(0)
data['LABEL_GENERAL'] = data['LABEL_GENERAL'].fillna(0)

In [27]:
data.head()

,Data_Source,Airline_Name,Aircraft_Type,Cabin_Class,Type_Of_Lounge,Type_Of_Traveller,Date_Visit,Date_Flown,Airport,Route,...,LABEL_LAVATORY SPACE,LABEL_PRICE,LABEL_LOST BAGGAGE,LABEL_CHECK IN,LABEL_PUNCTUALITY,LABEL_ATTRACTIVE AIRCRAFT,LABEL_SAV,LABEL_BOARDING,LABEL_GENERAL,Unnamed: 54
0,Airline Quality Airline,adria-airways,A319,Economy Class,NaN,Family Leisure,NaN,August 2015,NaN,Manchester to Ljubljana,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,2.0,NaN
1,Airline Quality Airline,adria-airways,A319,Economy Class,NaN,Family Leisure,NaN,August 2015,NaN,Manchester to Ljubljana,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,Airline Quality Airline,adria-airways,A319,Economy Class,NaN,Family Leisure,NaN,August 2015,NaN,Manchester to Ljubljana,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,Airline Quality Airline,adria-airways,A319,Economy Class,NaN,Family Leisure,NaN,August 2015,NaN,Manchester to Ljubljana,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,NaN
4,Airline Quality Airline,adria-airways,A319,Economy Class,NaN,Family Leisure,NaN,August 2015,NaN,Manchester to Ljubljana,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,NaN

Verification that there are no missing values in the new labels.

In [28]:
print(data.isnull().sum()/len(data)*100)

Data_Source                   0.000000
Airline_Name                  0.000000
Aircraft_Type                51.515152
Cabin_Class                  80.758404
Type_Of_Lounge               98.460010
Type_Of_Traveller            89.269747
Date_Visit                   99.321080
Date_Flown                   89.385660
Airport                      98.509687
Route                        85.775791
Cabin_Staff_Service          79.516476
Lounge_Staff_Service         98.460010
Bar_And_Beverages            98.443451
Food_And_Beverages           79.947011
Ground_Service               91.306508
Catering                     98.443451
Cleanliness                  98.443451
Comfort                      98.443451
Aisle_Space                  96.870343
Wifi_And_Connectivity        96.290777
Inflight_Entertainment       82.579897
Viewing_Tv_Screen            97.400232
Power_Supply                 98.989899
Seat                         62.626263
Seat_Type                    96.837225
Seat_Comfort                 82.894519
Seat_Legroom                 93.359828
Seat_Storage                 98.046034
Seat_Width                   93.061765
Seat_Recline                 96.588839
Washrooms                    98.642159
Value_For_Money              80.410664
Overall_Customer_Rating      39.261467
Recommended                  75.095214
Date_Review                  35.883424
Review                        0.000000
Sentence                      0.000000
LABEL_SEAT                    0.000000
LABEL_BED                     0.000000
LABEL_IFE                     0.000000
LABEL_FOOD                    0.000000
LABEL_NOISE                   0.000000
LABEL_TEMPERATURE             0.000000
LABEL_HUMIDITY                0.000000
LABEL_CABIN CREW              0.000000
LABEL_LAVATORY SPACE          0.000000
LABEL_PRICE                   0.000000
LABEL_LOST BAGGAGE            0.000000
LABEL_CHECK IN                0.000000
LABEL_PUNCTUALITY             0.000000
LABEL_ATTRACTIVE AIRCRAFT     0.000000
LABEL_SAV                     0.000000
LABEL_BOARDING                0.000000
LABEL_GENERAL                 0.000000
Unnamed: 54                  96.390131
dtype: float64

Export of the new file in csv format

In [ ]:
data.to_excel(workpath+'ANNOTATE_V2.xlsx')

### Creation of OTHERS_ANNOTATE_v2

In [17]:
others_annotate = pd.read_excel(workpath+'OTHERS_DATA_ANNOTATE.xlsx')

In [20]:
data = others_annotate.copy()

In [21]:
data.head()

,REVIEW,LABEL_SEAT,LABEL_BED,LABEL_IFE,LABEL_FOOD,LABEL_NOISE,LABEL_TEMPERATURE,LABEL_HUMIDITY,LABEL_CABIN CREW,LABEL_LAVATORY SPACE,LABEL_PRICE,LABEL_LOST BAGGAGE,LABEL_CHECK IN,LABEL_PUNCTUALITY,LABEL_ATTRACTIVE AIRCRAFT,LABEL_SAV,LABEL_BOARDING,LABEL_GENERAL
0,Points positifs : The crew was very nice and ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Points positifs : I was upgraded to business:...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,NaN,NaN
2,Points négatifs : Even in business seats were...,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Points négatifs : It sucked you are not allow...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
4,Points négatifs : Too much mayonnaise on the ...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Creation of new labels

In [7]:
data['LABEL_SEAT'][data['LABEL_SEAT'] == 0] = -1
data['LABEL_BED'][data['LABEL_BED'] == 0] = -1
data['LABEL_IFE'][data['LABEL_IFE'] == 0] = -1
data['LABEL_FOOD'][data['LABEL_FOOD'] == 0] = -1
data['LABEL_NOISE'][data['LABEL_NOISE'] == 0] = -1
data['LABEL_TEMPERATURE'][data['LABEL_LAVATORY SPACE'] == 0] = -1
data['LABEL_HUMIDITY'][data['LABEL_HUMIDITY'] == 0] = -1
data['LABEL_CABIN CREW'][data['LABEL_CABIN CREW'] == 0] = -1
data['LABEL_LAVATORY SPACE'][data['LABEL_LAVATORY SPACE'] == 0] = -1
data['LABEL_PRICE'][data['LABEL_PRICE'] == 0] = -1
data['LABEL_LOST BAGGAGE'][data['LABEL_LOST BAGGAGE'] == 0] = -1
data['LABEL_CHECK IN'][data['LABEL_CHECK IN'] == 0] = -1
data['LABEL_PUNCTUALITY'][data['LABEL_PUNCTUALITY'] == 0] = -1
data['LABEL_ATTRACTIVE AIRCRAFT'][data['LABEL_ATTRACTIVE AIRCRAFT'] == 0] = -1
data['LABEL_SAV'][data['LABEL_SAV'] == 0] = -1
data['LABEL_BOARDING'][data['LABEL_BOARDING'] == 0] = -1
data['LABEL_GENERAL'][data['LABEL_GENERAL'] == 0] = -1

/home/ddm2018-1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/ddm2018-1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/ddm2018-1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/ddm2018-1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/home/ddm2018-1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/home/ddm2018-1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/ddm2018-1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/home/ddm2018-1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/ddm2018-1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/home/ddm2018-1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/home/ddm2018-1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/home/ddm2018-1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/home/ddm2018-1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/home/ddm2018-1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/ddm2018-1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/home/ddm2018-1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/home/ddm2018-1/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [8]:
data['LABEL_SEAT'] = data['LABEL_SEAT'].fillna(0)
data['LABEL_BED'] = data['LABEL_BED'].fillna(0)
data['LABEL_IFE'] = data['LABEL_IFE'].fillna(0)
data['LABEL_FOOD'] = data['LABEL_FOOD'].fillna(0)
data['LABEL_NOISE'] = data['LABEL_NOISE'].fillna(0)
data['LABEL_TEMPERATURE'] = data['LABEL_TEMPERATURE'].fillna(0)
data['LABEL_HUMIDITY'] = data['LABEL_HUMIDITY'].fillna(0)
data['LABEL_CABIN CREW'] = data['LABEL_CABIN CREW'].fillna(0)
data['LABEL_LAVATORY SPACE'] = data['LABEL_LAVATORY SPACE'].fillna(0)
data['LABEL_PRICE'] = data['LABEL_PRICE'].fillna(0)
data['LABEL_LOST BAGGAGE'] = data['LABEL_LOST BAGGAGE'].fillna(0)
data['LABEL_CHECK IN'] = data['LABEL_LAVATORY SPACE'].fillna(0)
data['LABEL_PUNCTUALITY'] = data['LABEL_PUNCTUALITY'].fillna(0)
data['LABEL_ATTRACTIVE AIRCRAFT'] = data['LABEL_LAVATORY SPACE'].fillna(0)
data['LABEL_SAV'] = data['LABEL_SAV'].fillna(0)
data['LABEL_BOARDING'] = data['LABEL_BOARDING'].fillna(0)
data['LABEL_GENERAL'] = data['LABEL_GENERAL'].fillna(0)

In [9]:
data.head()

,REVIEW,LABEL_SEAT,LABEL_BED,LABEL_IFE,LABEL_FOOD,LABEL_NOISE,LABEL_TEMPERATURE,LABEL_HUMIDITY,LABEL_CABIN CREW,LABEL_LAVATORY SPACE,LABEL_PRICE,LABEL_LOST BAGGAGE,LABEL_CHECK IN,LABEL_PUNCTUALITY,LABEL_ATTRACTIVE AIRCRAFT,LABEL_SAV,LABEL_BOARDING,LABEL_GENERAL
0,Points positifs : The crew was very nice and ...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Points positifs : I was upgraded to business:...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
2,Points négatifs : Even in business seats were...,-1.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Points négatifs : It sucked you are not allow...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0
4,Points négatifs : Too much mayonnaise on the ...,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Verification that there are no missing values in the new labels.

In [10]:
print(data.isnull().sum()/len(data)*100)

REVIEW                       0.0
LABEL_SEAT                   0.0
LABEL_BED                    0.0
LABEL_IFE                    0.0
LABEL_FOOD                   0.0
LABEL_NOISE                  0.0
LABEL_TEMPERATURE            0.0
LABEL_HUMIDITY               0.0
LABEL_CABIN CREW             0.0
LABEL_LAVATORY SPACE         0.0
LABEL_PRICE                  0.0
LABEL_LOST BAGGAGE           0.0
LABEL_CHECK IN               0.0
LABEL_PUNCTUALITY            0.0
LABEL_ATTRACTIVE AIRCRAFT    0.0
LABEL_SAV                    0.0
LABEL_BOARDING               0.0
LABEL_GENERAL                0.0
dtype: float64

Export of the new file in csv format

In [13]:
data.to_excel(workpath+'OTHERS_DATA_ANNOTATE_V2.xlsx')

## Add constructors

In [36]:
annotate_v2 = pd.read_csv(workpath+'ANNOTATE_V2.csv',
                          header=0, 
                          sep=",", 
                          encoding='utf8', 
                          engine='python')
del annotate_v2['Unnamed: 0']

In [37]:
data_ann = annotate_v2.copy()

In [ ]:
# Code the variable constructor

data_ann['Aircraft_Type'] = data_ann['Aircraft_Type'].astype(str)
indAirbus = []
indBoeing = []
indEmbraer = []
indFokker = []
indMD = []
indSaab = []
indBomb = []
for j in range(data_ann['Aircraft_Type'].shape[0]):
    if (data_ann['Aircraft_Type'].iloc[j].startswith('irbus')) or ('A3' in data_ann['Aircraft_Type'].iloc[j]) or (data_ann['Aircraft_Type'].iloc[j].startswith('3')) or ('Airbus' in data_ann['Aircraft_Type'].iloc[j]) or ('bus' in data_ann['Aircraft_Type'].iloc[j]) or (data_ann['Aircraft_Type'].iloc[j].startswith('Russian Airlines Airbus')) or ('airbus' in data_ann['Aircraft_Type'].iloc[j]):
        indAirbus.append(j)
    if (data_ann['Aircraft_Type'].iloc[j].startswith('oeing')) or (data_ann['Aircraft_Type'].iloc[j].startswith('g 777')) or (data_ann['Aircraft_Type'].iloc[j].startswith('737')) or (data_ann['Aircraft_Type'].iloc[j].startswith('Boeing')) or (data_ann['Aircraft_Type'].iloc[j].startswith('Flugdienst')) or (data_ann['Aircraft_Type'].iloc[j].startswith('Rouge Boeing')) or (data_ann['Aircraft_Type'].iloc[j].startswith('Russian Airlines Boeing')) or (data_ann['Aircraft_Type'].iloc[j].startswith('b737')) or (data_ann['Aircraft_Type'].iloc[j].startswith('boeing')):
        indBoeing.append(j)
    if (data_ann['Aircraft_Type'].iloc[j].startswith('Embraer')) or (data_ann['Aircraft_Type'].iloc[j].startswith('Embr')) or (data_ann['Aircraft_Type'].iloc[j].startswith('E')):
        indEmbraer.append(j)
    if (data_ann['Aircraft_Type'].iloc[j].startswith('Fokker')) or (data_ann['Aircraft_Type'].iloc[j].startswith('fokker')):
        indFokker.append(j)
    if (data_ann['Aircraft_Type'].iloc[j].startswith('MD')) or (data_ann['Aircraft_Type'].iloc[j].startswith('mcdonnell')):
        indMD.append(j)
    if (data_ann['Aircraft_Type'].iloc[j].startswith('Q')) or (data_ann['Aircraft_Type'].iloc[j].startswith('bombardier')) or (data_ann['Aircraft_Type'].iloc[j].startswith('Bombardier')):
        indBomb.append(j)
    if (data_ann['Aircraft_Type'].iloc[j].startswith('Saab')) or (data_ann['Aircraft_Type'].iloc[j].startswith('SAAB')):
        indSaab.append(j)
data_ann['Constructor'] = ""
data_ann['Constructor'].iloc[indAirbus] = 'Airbus'
data_ann['Constructor'].iloc[indBoeing] = 'Boeing'
data_ann['Constructor'].iloc[indBomb] = 'Bombardier'
data_ann['Constructor'].iloc[indFokker] = 'Fokker'
data_ann['Constructor'].iloc[indMD] = 'Mac Donnell'
data_ann['Constructor'].iloc[indSaab] = 'Saab'
data_ann['Constructor'].iloc[indEmbraer] = 'Embraer'

In [41]:
data_ann.to_excel(workpath+'ANNOTATE_V2_BIS.xlsx')

## Création of 4 new variables for notes

### Creation of ANNOTATE_V3

In [60]:
df = pd.read_csv(workpath+"modif/ANNOTATE_V2.csv",
                 encoding='latin-1', decimal=',', sep=',')

In [61]:
df.head()

,Unnamed: 0,Data_Source,Airline_Name,Aircraft_Type,Cabin_Class,Type_Of_Lounge,Type_Of_Traveller,Date_Visit,Date_Flown,Airport,...,LABEL_LAVATORY SPACE,LABEL_PRICE,LABEL_LOST BAGGAGE,LABEL_CHECK IN,LABEL_PUNCTUALITY,LABEL_ATTRACTIVE AIRCRAFT,LABEL_SAV,LABEL_BOARDING,LABEL_GENERAL,Unnamed: 54
0,0,Airline Quality Airline,adria-airways,A319,Economy Class,NaN,Family Leisure,NaN,August 2015,NaN,...,0,0,0,0,2,0,0,0,2,NaN
1,1,Airline Quality Airline,adria-airways,A319,Economy Class,NaN,Family Leisure,NaN,August 2015,NaN,...,0,0,0,0,0,0,0,0,0,NaN
2,2,Airline Quality Airline,adria-airways,A319,Economy Class,NaN,Family Leisure,NaN,August 2015,NaN,...,0,0,0,0,0,0,0,0,0,NaN
3,3,Airline Quality Airline,adria-airways,A319,Economy Class,NaN,Family Leisure,NaN,August 2015,NaN,...,0,0,0,0,1,0,0,1,0,NaN
4,4,Airline Quality Airline,adria-airways,A319,Economy Class,NaN,Family Leisure,NaN,August 2015,NaN,...,0,0,0,0,0,0,0,0,2,NaN

Creation of new columns

In [62]:
df['Food_Beverages'] = 0
df['Entertainments_And_Amenities'] =0
df['Seat_Comfort_And_Recline'] =0
df['Staff_Service'] = 0
D = df.notna()

In [63]:
listFood_Beverages = ['Bar_And_Beverages', 'Food_And_Beverages', 'Catering']
listEntertainments_And_Amenities = [
    'Wifi_And_Connectivity', 'Inflight_Entertainment', 'Viewing_Tv_Screen', 'Power_Supply', 'Washrooms']
listSeat_Comfort_And_Recline = ['Seat_Comfort', 'Seat_Recline']
listStaff_Service = ['Cabin_Staff_Service',
                     'Lounge_Staff_Service', 'Ground_Service']

In [66]:
# Fill in new columns

for i in range(0, len(df)):
    #    for i in liste :

    # construction of Food_Beverages
    sumNote = 0
    k = 0
    # calcul of the average of the completed notes of the constituent columns of Food_Beverages

    for j in listFood_Beverages:
        value = df.at[i, j]
        if D.at[i, j]:
            sumNote += value
            k += 1
    if k != 0:
        note = sumNote/k
        df.loc[df.index[i], 'Food_Beverages'] = note
    else:
        df.loc[df.index[i], 'Food_Beverages'] = math.nan

    # construction of Entertainments_And_Amenities
    sumNote = 0
    k = 0
    # calcul de la moyenne des notes complétées des colonnes constitutives de Entertainments_And_Amenities
    for j in listEntertainments_And_Amenities:
        value = df.at[i, j]
        if D.at[i, j]:
            sumNote += value
            k += 1
    if k != 0:
        note = sumNote/k
        df.loc[df.index[i], 'Entertainments_And_Amenities'] = note
    else:
        df.loc[df.index[i], 'Entertainments_And_Amenities'] = math.nan

    # construction of Seat_Comfort_And_Recline
    sumNote = 0
    k = 0
    # calcul of the average of the completed notes of the constituent columns of Seat_Comfort_And_Recline
    for j in listSeat_Comfort_And_Recline:
        value = df.at[i, j]
        if D.at[i, j]:
            sumNote += value
            k += 1
    if k != 0:
        note = sumNote/k
        df.loc[df.index[i], 'Seat_Comfort_And_Recline'] = note
    else:
        df.loc[df.index[i], 'Seat_Comfort_And_Recline'] = math.nan

    # construction of Seat_Comfort_And_Recline
    sumNote = 0
    k = 0
    # calcul of the average of the completed notes of the constituent columns of Seat_Comfort_And_Recline
    for j in listStaff_Service:
        value = df.at[i, j]
        if D.at[i, j]:
            sumNote += value
            k += 1
    if k != 0:
        note = sumNote/k
        df.loc[df.index[i], 'Staff_Service'] = note
    else:
        df.loc[df.index[i], 'Staff_Service'] = math.nan

In [67]:
df.head()

,Unnamed: 0,Data_Source,Airline_Name,Aircraft_Type,Cabin_Class,Type_Of_Lounge,Type_Of_Traveller,Date_Visit,Date_Flown,Airport,...,LABEL_PUNCTUALITY,LABEL_ATTRACTIVE AIRCRAFT,LABEL_SAV,LABEL_BOARDING,LABEL_GENERAL,Unnamed: 54,Food_Beverages,Entertainments_And_Amenities,Seat_Comfort_And_Recline,Staff_Service
0,0,Airline Quality Airline,adria-airways,A319,Economy Class,NaN,Family Leisure,NaN,August 2015,NaN,...,2,0,0,0,2,NaN,NaN,NaN,NaN,5.0
1,1,Airline Quality Airline,adria-airways,A319,Economy Class,NaN,Family Leisure,NaN,August 2015,NaN,...,0,0,0,0,0,NaN,NaN,NaN,NaN,5.0
2,2,Airline Quality Airline,adria-airways,A319,Economy Class,NaN,Family Leisure,NaN,August 2015,NaN,...,0,0,0,0,0,NaN,NaN,NaN,NaN,5.0
3,3,Airline Quality Airline,adria-airways,A319,Economy Class,NaN,Family Leisure,NaN,August 2015,NaN,...,1,0,0,1,0,NaN,NaN,NaN,NaN,5.0
4,4,Airline Quality Airline,adria-airways,A319,Economy Class,NaN,Family Leisure,NaN,August 2015,NaN,...,0,0,0,0,2,NaN,NaN,NaN,NaN,5.0

In [ ]:
df.to_excel(workpath+'ALL_DATA_ANNOTATE_V3.xlsx')

# Modification of all_data

### Creation of ALL_DATA_V2

Format type Overall_Customer_Rating

In [ ]:
data['Overall_Customer_Rating'] = data['Overall_Customer_Rating'].str.replace(",",".")

In [ ]:
data['Overall_Customer_Rating'] = pd.to_numeric(data['Overall_Customer_Rating'], errors='coerce')

Creation of the new variable : Constructors

In [45]:
all_data = pd.read_csv(workpath+'ALL_DATA.csv', encoding='utf8',
                       header=0, error_bad_lines=False, sep=',')

/home/ddm2018-1/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,27,28,36,37,39,40,41) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [46]:
data = all_data.copy()

In [47]:
# type des nan en float --> a transformer en str

data['Aircraft_Type'] = data['Aircraft_Type'].astype(str)
indAirbus = []
indBoeing = []
indEmbraer = []
indFokker = []
indMD = []
indSaab = []
indBomb = []
for j in range(data['Aircraft_Type'].shape[0]):
    if (data['Aircraft_Type'].iloc[j].startswith('irbus')) or ('A3' in data['Aircraft_Type'].iloc[j]) or (data['Aircraft_Type'].iloc[j].startswith('3')) or ('Airbus' in data['Aircraft_Type'].iloc[j]) or ('bus' in data['Aircraft_Type'].iloc[j]) or (data['Aircraft_Type'].iloc[j].startswith('Russian Airlines Airbus')) or ('airbus' in data['Aircraft_Type'].iloc[j]):
        indAirbus.append(j)
    if (data['Aircraft_Type'].iloc[j].startswith('oeing')) or (data['Aircraft_Type'].iloc[j].startswith('g 777')) or (data['Aircraft_Type'].iloc[j].startswith('737')) or (data['Aircraft_Type'].iloc[j].startswith('Boeing')) or (data['Aircraft_Type'].iloc[j].startswith('Flugdienst')) or (data['Aircraft_Type'].iloc[j].startswith('Rouge Boeing'))  or (data['Aircraft_Type'].iloc[j].startswith('Russian Airlines Boeing')) or (data['Aircraft_Type'].iloc[j].startswith('b737')) or (data['Aircraft_Type'].iloc[j].startswith('boeing')):
        indBoeing.append(j)    
    if (data['Aircraft_Type'].iloc[j].startswith('Embraer')) or (data['Aircraft_Type'].iloc[j].startswith('Embr')) or (data['Aircraft_Type'].iloc[j].startswith('E')):
        indEmbraer.append(j)
    if (data['Aircraft_Type'].iloc[j].startswith('Fokker')) or (data['Aircraft_Type'].iloc[j].startswith('fokker')):
        indFokker.append(j)
    if (data['Aircraft_Type'].iloc[j].startswith('MD')) or (data['Aircraft_Type'].iloc[j].startswith('mcdonnell')):
        indMD.append(j)
    if (data['Aircraft_Type'].iloc[j].startswith('Q')) or (data['Aircraft_Type'].iloc[j].startswith('bombardier')) or (data['Aircraft_Type'].iloc[j].startswith('Bombardier')):
        indBomb.append(j)
    if (data['Aircraft_Type'].iloc[j].startswith('Saab')) or (data['Aircraft_Type'].iloc[j].startswith('SAAB')):
        indSaab.append(j)

In [48]:
print('Nb Airbus : ', len(indAirbus))
print('Nb Boeing : ', len(indBoeing))
print('Nb Saab : ', len(indSaab))
print('Nb MD : ', len(indMD))
print('Nb Bombardier : ', len(indBomb))
print('Nb Embraer : ', len(indEmbraer))
print('Nb Fokker : ', len(indFokker))

Nb Airbus :  23357
Nb Boeing :  20434
Nb Saab :  34
Nb MD :  170
Nb Bombardier :  388
Nb Embraer :  974
Nb Fokker :  73

Add the column constructor

In [49]:
data['Constructor'] = 0

data['Constructor'].iloc[indAirbus] = 'Airbus'
data['Constructor'].iloc[indBoeing] = 'Boeing'
data['Constructor'].iloc[indBomb] = 'Bombardier'
data['Constructor'].iloc[indFokker] = 'Fokker'
data['Constructor'].iloc[indMD] = 'Mac Donnell'
data['Constructor'].iloc[indSaab] = 'Saab'
data['Constructor'].iloc[indEmbraer] = 'Embraer'

/home/ddm2018-1/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [50]:
data['Overall_Customer_Rating'] = data['Overall_Customer_Rating'].str.replace(",",".")
data['Overall_Customer_Rating'] = pd.to_numeric(data['Overall_Customer_Rating'], errors='coerce')

In [ ]:
df.to_excel(workpath+'ALL_DATA_V2.xlsx')

### Creation of ALL_DATA_V3

In [7]:
df = pd.read_csv(workpath+"modif/ALL_DATA.csv",
                 encoding='latin-1', decimal=',', sep=',')

/home/ddm2018-1/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
df.head()

,Unnamed: 0,Data_Source,Airline_Name,Airline_Type,Region_Operation,Aircraft_Type,Cabin_Class,Type_Of_Lounge,Type_Of_Traveller,Date_Visit,...,Seat_Width,Washrooms,Value_For_Money,Overall_Customer_Rating,Overall_Service_Rating,Overall_Airline_Rating,Recommended,Date_Review,Review,Constructor
0,0,Airline Quality Airline,ab-aviation,NaN,NaN,E120,Economy Class,NaN,Solo Leisure,NaN,...,NaN,NaN,2.0,1.0,NaN,NaN,no,25th June 2019,â Trip Verified | Moroni to Anjouan. It is a...,Embraer
1,1,Airline Quality Airline,ab-aviation,NaN,NaN,Embraer E120,Economy Class,NaN,Solo Leisure,NaN,...,NaN,NaN,2.0,1.0,NaN,NaN,no,25th June 2019,â Trip Verified | Anjouan to Dzaoudzi. A ve...,Embraer
2,2,Airline Quality Airline,adria-airways,NaN,NaN,NaN,Economy Class,NaN,Solo Leisure,NaN,...,NaN,NaN,1.0,1.0,NaN,NaN,no,28th September 2019,Not Verified | Please do a favor yourself and...,NaN
3,3,Airline Quality Airline,adria-airways,NaN,NaN,NaN,Economy Class,NaN,Couple Leisure,NaN,...,NaN,NaN,1.0,1.0,NaN,NaN,no,24th September 2019,â Trip Verified | Do not book a flight with ...,NaN
4,4,Airline Quality Airline,adria-airways,NaN,NaN,CR 900,Economy Class,NaN,Couple Leisure,NaN,...,NaN,NaN,1.0,1.0,NaN,NaN,no,17th September 2019,â Trip Verified | Had very bad experience w...,NaN

Creation of new columns

In [ ]:
df['Food_Beverages'] = 0
df['Entertainments_And_Amenities'] =0
df['Seat_Comfort_And_Recline'] =0
df['Staff_Service'] = 0
D = df.notna()

In [ ]:
listFood_Beverages = ['Bar_And_Beverages', 'Food_And_Beverages', 'Catering']
listEntertainments_And_Amenities = [
    'Wifi_And_Connectivity', 'Inflight_Entertainment', 'Viewing_Tv_Screen', 'Power_Supply', 'Washrooms']
listSeat_Comfort_And_Recline = ['Seat_Comfort', 'Seat_Recline']
listStaff_Service = ['Cabin_Staff_Service',
                     'Lounge_Staff_Service', 'Ground_Service']

In [ ]:
# Fill in new columns

for i in range (0,len(df)):
#    for i in liste :

    # construction of Food_Beverages
    sumNote=0
    k=0
    # calcul of the average of the completed notes of the constituent columns of Food_Beverages
    
    for j in listFood_Beverages :
        value = df.at[i,j]
        if D.at[i,j] :
            sumNote += value
            k+=1
    if k!=0 :
        note=sumNote/k
        df.loc[df.index[i],'Food_Beverages']=note
    else :
        df.loc[df.index[i],'Food_Beverages']=math.nan

    # construction of Entertainments_And_Amenities
    sumNote=0
    k=0
    # calcul de la moyenne des notes complétées des colonnes constitutives de Entertainments_And_Amenities
    for j in listEntertainments_And_Amenities :
        value = df.at[i,j]
        if D.at[i,j]:
            sumNote += value
            k+=1
    if k!=0 :
        note=sumNote/k
        df.loc[df.index[i],'Entertainments_And_Amenities']=note
    else :
        df.loc[df.index[i],'Entertainments_And_Amenities']=math.nan

    # construction of Seat_Comfort_And_Recline
    sumNote=0
    k=0
     # calcul of the average of the completed notes of the constituent columns of Seat_Comfort_And_Recline
    for j in listSeat_Comfort_And_Recline :
        value = df.at[i,j]
        if D.at[i,j]:
            sumNote += value
            k+=1
    if k!=0 :
        note=sumNote/k
        df.loc[df.index[i],'Seat_Comfort_And_Recline']=note
    else :
        df.loc[df.index[i],'Seat_Comfort_And_Recline']=math.nan
        
        
    # construction of Seat_Comfort_And_Recline
    sumNote=0
    k=0
    # calcul of the average of the completed notes of the constituent columns of Seat_Comfort_And_Recline
    for j in listStaff_Service :
        value = df.at[i,j]
        if D.at[i,j]:
            sumNote += value
            k+=1
    if k!=0 :
        note=sumNote/k
        df.loc[df.index[i],'Staff_Service']=note
    else :
        df.loc[df.index[i],'Staff_Service']=math.nan

In [ ]:
df.to_excel(workpath+'ALL_DATA_V3.xlsx')

# Modification of seatguru

In [13]:
seatguru = pd.read_csv(workpath+'SEATGURU_INFO_AIRCRAFT.csv',
                       header=0,
                       sep=";",
                       encoding='utf8',
                       engine='python')

In [14]:
def add_constructor(df: pd.core.frame.DataFrame) -> pd.core.frame.DataFrame:
    """ Documentation

    Parameters :
        df : seatguru dataframe

    Out : 
         seatguru dataframe with an extra column 'Constructor' 
         with the differents constructors of planes
    """

    df['Aircraft_Type'] = df['Aircraft_Type'].astype(str)
    indAirbus = []
    indBoeing = []

    for j in range(df['Aircraft_Type'].shape[0]):
        if (df['Aircraft_Type'].iloc[j].startswith('irbus')) or ('A3' in df['Aircraft_Type'].iloc[j]) or (df['Aircraft_Type'].iloc[j].startswith('3')) or ('Airbus' in df['Aircraft_Type'].iloc[j]) or ('bus' in df['Aircraft_Type'].iloc[j]) or (df['Aircraft_Type'].iloc[j].startswith('Russian Airlines Airbus')) or ('airbus' in df['Aircraft_Type'].iloc[j]):
            indAirbus.append(j)
        if (df['Aircraft_Type'].iloc[j].startswith('oeing')) or (df['Aircraft_Type'].iloc[j].startswith('g 777')) or (df['Aircraft_Type'].iloc[j].startswith('737')) or (df['Aircraft_Type'].iloc[j].startswith('Boeing')) or (df['Aircraft_Type'].iloc[j].startswith('Flugdienst')) or (df['Aircraft_Type'].iloc[j].startswith('Rouge Boeing')) or (df['Aircraft_Type'].iloc[j].startswith('Russian Airlines Boeing')) or (df['Aircraft_Type'].iloc[j].startswith('b737')) or (df['Aircraft_Type'].iloc[j].startswith('boeing')):
            indBoeing.append(j)

    df['Constructor'] = "Others"
    df['Constructor'].iloc[indAirbus] = 'Airbus'
    df['Constructor'].iloc[indBoeing] = 'Boeing'

    return df

In [15]:
seatguru = add_constructor(seatguru)

/home/ddm2018-1/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [16]:
seatguru.to_excel(workpath+'SEATGURU_V2.xlsx')

# Modification of Kayak

In [28]:
kayak = pd.read_csv(workpath+'KAYAK_AIRLINE_RATE_GLOBAL.csv',
                    header=0,
                    sep=",",
                    encoding='utf8',
                    engine='python')

Change type of notes in kayak columns

In [29]:
# Type of notes convert in float (str --> .

kayak.Boarding = kayak.Boarding.str.replace(",", ".")
kayak.Boarding = pd.to_numeric(kayak.Boarding, errors='coerce')
kayak.Cabin_Staff_Service = kayak.Cabin_Staff_Service.str.replace(",", ".")
kayak.Cabin_Staff_Service = pd.to_numeric(
    kayak.Cabin_Staff_Service, errors='coerce')
kayak.Comfort = kayak.Comfort.str.replace(",", ".")
kayak.Comfort = pd.to_numeric(kayak.Comfort, errors='coerce')
kayak.Entertainment = kayak.Entertainment.str.replace(",", ".")
kayak.Entertainment = pd.to_numeric(kayak.Entertainment, errors='coerce')
kayak.Food_And_Beverages = kayak.Food_And_Beverages.str.replace(",", ".")
kayak.Food_And_Beverages = pd.to_numeric(
    kayak.Food_And_Beverages, errors='coerce')
kayak.Overall_Airline_Rating = kayak.Overall_Airline_Rating.str.replace(
    ",", ".")
kayak.Overall_Airline_Rating = pd.to_numeric(
    kayak.Overall_Airline_Rating, errors='coerce')

In [31]:
kayak.to_excel(workpath+'kayak.xlsx')

In [33]:
kayak.head()

,Data_Source,Airline_Name,Boarding,Cabin_Staff_Service,Comfort,Entertainment,Food_And_Beverages,Overall_Airline_Rating,Mention,Number_Evaluation
0,Kayak,9-air,7.3,8.1,6.4,5.8,6.4,6.9,Bien,72
1,Kayak,adria-airways,7.6,8.0,7.3,6.3,6.2,7.3,Bien,353
2,Kayak,aegean-airlines,8.0,8.5,8.0,6.7,7.7,7.8,Bien,2837
3,Kayak,aer-lingus,7.6,8.0,7.3,7.1,6.8,7.4,Bien,5904
4,Kayak,aeroflot,8.0,8.3,7.8,7.5,7.5,7.8,Bien,8368

# Creation of all_data_month

Change type of date in order to make a temporal analysies

In [38]:
all_data = pd.read_csv(workpath+'ALL_DATA.csv', encoding='utf8',
                       header=0, error_bad_lines=False, sep=',')

/home/ddm2018-1/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,27,28,36,37,39,40,41) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [39]:
data = all_data.copy()

In [40]:
data = data.dropna(subset=['Date_Flown'])

In [41]:
data.head()

,Data_Source,Airline_Name,Airline_Type,Region_Operation,Aircraft_Type,Cabin_Class,Type_Of_Lounge,Type_Of_Traveller,Date_Visit,Date_Flown,...,Seat_Recline,Seat_Width,Washrooms,Value_For_Money,Overall_Customer_Rating,Overall_Service_Rating,Overall_Airline_Rating,Recommended,Date_Review,Review
0,Airline Quality Airline,ab-aviation,NaN,NaN,E120,Economy Class,NaN,Solo Leisure,NaN,June 2019,...,NaN,NaN,NaN,2.0,1,NaN,NaN,no,25th June 2019,✅ Trip Verified | Moroni to Anjouan. It is a v...
1,Airline Quality Airline,ab-aviation,NaN,NaN,Embraer E120,Economy Class,NaN,Solo Leisure,NaN,June 2019,...,NaN,NaN,NaN,2.0,1,NaN,NaN,no,25th June 2019,✅ Trip Verified | Anjouan to Dzaoudzi. A very...
2,Airline Quality Airline,adria-airways,NaN,NaN,NaN,Economy Class,NaN,Solo Leisure,NaN,September 2019,...,NaN,NaN,NaN,1.0,1,NaN,NaN,no,28th September 2019,Not Verified | Please do a favor yourself and...
3,Airline Quality Airline,adria-airways,NaN,NaN,NaN,Economy Class,NaN,Couple Leisure,NaN,September 2019,...,NaN,NaN,NaN,1.0,1,NaN,NaN,no,24th September 2019,✅ Trip Verified | Do not book a flight with th...
4,Airline Quality Airline,adria-airways,NaN,NaN,CR 900,Economy Class,NaN,Couple Leisure,NaN,September 2019,...,NaN,NaN,NaN,1.0,1,NaN,NaN,no,17th September 2019,✅ Trip Verified | Had very bad experience wit...

In [42]:
data.shape

(60975, 42)

Function modfication type date

In [43]:
def format_date(date):
    # Transform a string date into a standard format by trying each
    # date format. If you want to add a format, add a try/except in the
    # last except
    # date : str : the date to transform
    # return : m : timedata : format is YYYY-MM-DD HH:MM:SS

    date_str = date
    print(date_str)
    try:
        m = datetime.datetime.strptime(date_str, "%B %Y")
    except:
        #
        date_str = date_str.replace("st", "").replace("th", "")\
            .replace("nd", "").replace("rd", "").replace(" Augu ", " Aug ")
        m = None
        try:
            m = datetime.datetime.strptime(date_str, "%d %B %Y")
        except ValueError:
            try:
                m = datetime.datetime.strptime(date_str, "%d %b %Y")
            except ValueError:
                try:
                    m = datetime.datetime.strptime(date_str, "%Y/%m/%d")
                except ValueError:
                    try:
                        m = datetime.datetime\
                            .strptime(date_str, "%d/%m/%Y %H:%M:%S")
                    except ValueError:
                        try:
                            m = datetime.datetime\
                                .strptime(date_str, "%Y-%m-%d %H:%M:%S")
                        except ValueError:
                            try:
                                m = datetime.datetime\
                                    .strptime(date_str, "%B %Y")
                            except ValueError:
                                try:
                                    m = datetime.datetime.strptime(date_str,
                                                                   "%d %m %Y")
                                except ValueError:
                                    # HERE ADD A FORMAT TO CHECK
                                    print("Format not recognised. \nConsider "
                                          "adding a date format "
                                          "in the function \"format_date\".")
                                    return date

    return m

In [ ]:
for i in range(0, len(data)):
    data['Date_Flown'].iloc[i] = format_date(
        data['Date_Flown'].iloc[i])

In [ ]:
data.to_excel(workpath+'all_data_month.xlsx')